interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://yfapi.net/v6/finance/quote?symbols=AAPL
  response:
    body:
      string: '{"quoteResponse":{"result":[{"language":"en-US","region":"US","quoteType":"EQUITY","typeDisp":"Equity","quoteSourceName":"Nasdaq
        Real Time Price","triggerable":true,"customPriceAlertConfidence":"HIGH","currency":"USD","market":"us_market","esgPopulated":false,"marketState":"PRE","firstTradeDateMilliseconds":345479400000,"priceHint":2,"preMarketChange":-0.020004272,"preMarketChangePercent":-0.0114762625,"preMarketTime":1649076856,"preMarketPrice":174.29,"exchange":"NMS","shortName":"Apple
        Inc.","longName":"Apple Inc.","messageBoardId":"finmb_24937","exchangeTimezoneName":"America/New_York","exchangeTimezoneShortName":"EDT","gmtOffSetMilliseconds":-14400000,"regularMarketChange":-0.30000305,"regularMarketChangePercent":-0.17181322,"regularMarketTime":1648843204,"regularMarketPrice":174.31,"regularMarketDayHigh":174.88,"regularMarketDayRange":"171.94
        - 174.88","regularMarketDayLow":171.94,"regularMarketVolume":78751328,"regularMarketPreviousClose":174.61,"bid":174.81,"ask":174.83,"bidSize":10,"askSize":8,"fullExchangeName":"NasdaqGS","financialCurrency":"USD","regularMarketOpen":174.03,"averageDailyVolume3Month":94937411,"averageDailyVolume10Day":91142730,"fiftyTwoWeekLowChange":52.059998,"fiftyTwoWeekLowChangePercent":0.42584866,"fiftyTwoWeekRange":"122.25
        - 182.94","fiftyTwoWeekHighChange":-8.630005,"fiftyTwoWeekHighChangePercent":-0.047173962,"fiftyTwoWeekLow":122.25,"fiftyTwoWeekHigh":182.94,"dividendDate":1644451200,"earningsTimestamp":1651176000,"earningsTimestampStart":1651176000,"earningsTimestampEnd":1651176000,"trailingAnnualDividendRate":0.865,"trailingPE":28.97922,"trailingAnnualDividendYield":0.004953897,"epsTrailingTwelveMonths":6.015,"epsForward":6.56,"epsCurrentYear":6.16,"priceEpsCurrentYear":28.29708,"sharesOutstanding":16319399936,"bookValue":4.402,"fiftyDayAverage":167.021,"fiftyDayAverageChange":7.2890015,"fiftyDayAverageChangePercent":0.04364123,"twoHundredDayAverage":156.7106,"twoHundredDayAverageChange":17.599396,"twoHundredDayAverageChangePercent":0.112305075,"marketCap":2844634644480,"forwardPE":26.571646,"priceToBook":39.59791,"sourceInterval":15,"exchangeDataDelayedBy":0,"pageViewGrowthWeekly":0.037423115,"averageAnalystRating":"1.8
        - Buy","tradeable":false,"displayName":"Apple","symbol":"AAPL"}],"error":null}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - QDmUEFOECYcFRdA=
      x-amzn-RequestId:
      - f3ea933b-a6e7-4bc9-8d27-69750038e9ff
    status:
      code: 200
      message: OK
version: 1
