interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://alpha.financeapi.net/symbol/get-chart?period=1Y&symbol=AAPL
  response:
    body:
      string: '{"type":"chart_1y_price","attributes":{"2022-04-04 16:00:00":{"close":178.47,"high":178.49,"low":174.44,"volume":76167931,"open":174.62},"2022-04-01
        16:00:00":{"close":174.31,"high":174.88,"low":171.94,"volume":78751328,"open":174.03},"2022-03-31
        16:00:00":{"close":174.61,"high":178.03,"low":174.4,"volume":103049285,"open":177.84},"2021-09-13
        16:00:00":{"close":149.55,"high":151.42,"low":148.75,"volume":102404329,"open":150.63},"2022-01-26
        16:00:00":{"close":159.69,"high":164.3894,"low":157.82,"volume":108275308,"open":163.5},"2021-12-28
        16:00:00":{"close":179.29,"high":181.33,"low"[...]
