interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://yfapi.net/v8/finance/chart/AAPL?region=US&range=1mo&interval=5m
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"AAPL","exchangeName":"NMS","instrumentType":"EQUITY","firstTradeDate":345479400,"regularMarketTime":1649188805,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":175.06,"chartPreviousClose":163.17,"previousClose":178.44,"scale":3,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1649232000,"end":1649251800,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1649251800,"end":1649275200,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1649275200,"end":1649289600,"gmtoffset":-14400}},"tradingPeriods":[[{"timezone":"EST","start":1646663400,"end":1646686800,"gmtoffset":-18000}],[{"timezone":"EST","start":1646749800,"end":1646773200,"gmtoffset":-18000}],[{"timezone":"EST","start":1646836200,"end":1646859600,"gmtoffset":-18000}],[{"timezone":"EST","start":1646922600,"end":1646946000,"gmtoffset":-18000}],[{"timezone":"EST","start":1647009000,"end":1647032400,"gmtoffset":-18000}],[{"timezone":"EDT","start":1647264600,"end":1647288000,"gmtoffset":-14400}],[{"timezone":"EDT","start":1647351000,"end"[...]
