interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://yfapi.net/v8/finance/chart/AAPL?region=US&range=max&interval=5m
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"AAPL","exchangeName":"NMS","instrumentType":"EQUITY","firstTradeDate":345479400,"regularMarketTime":1649188805,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":175.06,"chartPreviousClose":0.128,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1649145600,"end":1649165400,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1649165400,"end":1649188800,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1649188800,"end":1649203200,"gmtoffset":-14400}},"dataGranularity":"3mo","range":"max","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[470725200,478501200,486446400,494395200,502261200,510037200,517982400,525931200,533797200,541573200,549518400,557467200,565333200,573195600,581140800,589089600,596955600,604731600,612676800,620625600,628491600,636267600,644212800,652161600,660027600,667803600,675748800,683697600,691563600,699426000,707371200,715320000,723186000,730962000,738907200,746856000,754722000,762498000,770443200,778392000,786258000,794034000,801979200,809928000,817794000,825656400,833601600,841550400,849416400,857192400[...]
